@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {

  .social-items {  
    nb-card {
      flex-direction: row;
      align-items: center;
      height: 5rem;
      overflow: visible;
  
      $bevel: btn-hero-bevel(nb-theme(card-bg));
      $shadow: nb-theme(btn-hero-shadow);
      box-shadow: $bevel, $shadow;
  
      .icon-container {
        height: 100%;
        padding: 0.625rem;
      }
  
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.75rem;
        height: 3.75rem;
        font-size: 2.75rem;
        border-radius: nb-theme(card-border-radius);
        transition: width 0.4s ease;
        transform: translate3d(0, 0, 0);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        // color: nb-theme(color-white);
        color: #EEE;
  
        &.default {
          // background-color: #05fcfc;
          background: rgba(5, 254, 254, 0.8);
        }
        &.primary {
          @include btn-hero-primary-gradient();
          @include btn-hero-primary-bevel-glow-shadow();
        }
        &.success {
          @include btn-hero-success-gradient();
          @include btn-hero-success-bevel-glow-shadow();
        }
        &.info {
          @include btn-hero-info-gradient();
          @include btn-hero-info-bevel-glow-shadow();
        }
        &.warning {
          @include btn-hero-warning-gradient();
          @include btn-hero-warning-bevel-glow-shadow();
        }
        &.danger {
          @include btn-hero-danger-gradient();
          @include btn-hero-danger-bevel-glow-shadow();
        }
        &.secondary {
          @include btn-hero-secondary-bg();
          @include btn-hero-secondary-bevel-glow-shadow();
          color: nb-theme(card-fg);
        }
  
      }
  
      &:hover {
        background: lighten(nb-theme(card-bg), 5%);
  
        .icon {
          &.primary {
            background-image: btn-hero-primary-light-gradient();
          }
          &.success {
            background-image: btn-hero-success-light-gradient();
          }
          &.info {
            background-image: btn-hero-info-light-gradient();
          }
          &.warning {
            background-image: btn-hero-warning-light-gradient();
          }
          &.danger {
            background-image: btn-hero-danger-light-gradient();
          }
          &.secondary {
            background-image: btn-hero-secondary-light-gradient();
          }
        }
      }
  
      &.off {
        color: nb-theme(card-fg);
  
        .icon {
          color: nb-theme(card-fg);
  
          &.primary, &.success, &.info, &.warning, &.danger {
            box-shadow: none;
            background-image: linear-gradient(to right, transparent, transparent);
          }
  
          &.secondary {
            background: transparent;
          }
        }
  
        .title {
          color: nb-theme(card-fg);
        }
      }
  
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
        @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
        border-left: 1px solid transparent;
      }
  
      .title {
        font-family: nb-theme(font-secondary);
        font-size: 1.25rem;
        font-weight: nb-theme(font-weight-bold);
        color: nb-theme(card-fg-heading);
      }
  
      .status {
        font-size: 1rem;
        font-weight: nb-theme(font-weight-light);
        // text-transform: uppercase;
        color: nb-theme(card-fg);
      }
    }
  }


  /* borders  */ 
  .border-default {
    border: 2px solid transparent;
    border-image: url("assets/images/border-1-default.svg") ;
    border-image-slice: 20;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-image-width: 5;
  }

  .border-primary {
    border: 5px solid;
    border-image: url("assets/images/border-primary.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-warning {
    border: 5px solid;
    border-image: url("assets/images/border-warning.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-success {
    border: 5px solid;
    border-image: url("assets/images/border-success.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-info {
    border: 5px solid;
    border-image: url("assets/images/border-info.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-danger {
    border: 5px solid;
    border-image: url("assets/images/border-danger.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }


  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-down(is) {
  }
}
