@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /deep/ .soft {
    position: absolute;
    right: 30px;
    top: 20px;
    color: #ffcc00 !important;
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  /deep/ .hard {
    position: absolute;
    right: 30px;
    top: 20px;
    color: green !important;
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  /deep/ .no {
    position: absolute;
    right: 30px;
    top: 20px;
    color: red !important;
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nb-card #actions {
      height: 101px;
  }
  nb-actions > nb-action {
    padding: 0 0.75rem;
    // border: 1px solid #00f9a6;
  }

  nb-action {

    cursor: pointer;
    i {
      color: nb-theme(color-fg);
      font-size: 2.5rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    span {
      font-family: nb-theme(font-secondary);
      // font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      // text-transform: uppercase;
    }
    
    .validation-menu {
      font-size: 20px;
      padding-left: 15px;
      padding-right: 5px;

      .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      .validation::before {
        font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      }

      span {
        font-family: nb-theme(font-secondary);
        font-weight: nb-theme(font-weight-bold);
      }

    }

    .validation-hard::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      // color: green;
    }
    .validation-soft::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      // color: yellow !important;
    }
    .validation-no::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      // color: red !important;
    }

  }

  button.btn-success.btn-outline {
    border: 1px solid #00f9a6;
  }

  .picture {
    background-image: url("assets/images/gather.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
    position: relative;
  }

  .details {
    padding: 1.25rem 1.25rem 1.25rem;
    // border-top: 1px solid nb-theme(separator);
    border-top: 1px solid #00f9a6;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }

  /* d3 */
  ngx-instagram-posts,
  ngx-twitter-list,
  ngx-twitter-popularity,
  ngx-twitter-approval,
  ngx-twitter-resume,
  ngx-d3-polar {
    display: block;
    /* 
    width: 100%;
    height: nb-theme(card-height-small);
    */

    /deep/ {
      .pie-label {
        fill: nb-theme(color-fg-heading);
      }

      .grid-line-path {
        stroke: nb-theme(separator);
      }

      text {
        fill: nb-theme(color-fg-heading);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(color-bg);
        }
        .legend-label {
          color: nb-theme(color-fg-heading);
          .active .legend-label-text {
            color: nb-theme(color-fg-heading);
          }
        }
      }
    }
  }

  ngx-github-calendar {
    /deep/ {
      h2 {
        font-size: 20px;
        display: none;
      }
      .border, 
      .border-gray-dark, 
      .py-2, 
      .graph-before-activity-overview {
          border: hidden !important;
      }
      .contrib-footer {
          display: none;
      }
      /*
      .day {
          fill: #999 !important;
      }
      */
      .wday {
        // fill: nb-theme(color-fg-heading);
        // fill: black !important;
        // fill: #00f9a6;
        fill: #05fcfc;
        padding-right: 10px;
      }
      .month {
        // fill: black !important;
        fill: #05fcfc;
        margin-top: 10px important;
        margin-bottom: 10px important;
      }
    }
  }

  ngx-fullcontact-scramble {
    /deep/ {
      #cardScramble {
        display: flex;
        justify-content: center; 
        align-items: center; 
      }
    }
  }

  #centralInfo {
    height : 
          calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)} - #{nb-theme(footer-height)} - 7rem) !important;
  }

  /* borders  */ 

  .border-default {
    border: 2px solid transparent;
    border-image: url("assets/images/border-1-default.svg") ;
    border-image-slice: 20;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-image-width: 5;
  }

  /* Tree */

  /deep/ .angular-tree-component {
    cursor: default;

    .node-wrapper {
      .node-content-wrapper {
        background: none;
        box-shadow: none;
        cursor: default;
      }

      .toggle-children-wrapper {
        cursor: pointer;
      }
    }
  }

  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-down(is) {
  }
}
