<nb-card size="small" class="border-default">
  <nb-card-header>Instagram Map</nb-card-header>
  <nb-card-body style="padding: 0px;">
    <div leaflet [leafletOptions]="options" [leafletLayers]="layers" (leafletMapReady)="mapReady($event)"></div>
  </nb-card-body>
</nb-card>
