@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  display: block;
  height: 100%;
  width: 100%;

  .leaflet-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  /deep/ .leaflet-top, /deep/ .leaflet-bottom {
    z-index: 997;
  }

  /deep/ .leaflet-bar {
    box-shadow: none;
  }

  /deep/ .leaflet-control-zoom {
    border: none;

    a {
      background-color: rgb(5, 252, 252);
      color: #000000;
      border-bottom: none;
      height: 2.5rem;
    }

    .leaflet-control-zoom-in {
      border-top-left-radius: nb-theme(btn-border-radius);
      border-top-right-radius: nb-theme(btn-border-radius);
    }

    .leaflet-control-zoom-out {
      margin-top: 1px;
      border-bottom-left-radius: nb-theme(btn-border-radius);
      border-bottom-right-radius: nb-theme(btn-border-radius);
    }
  }

  /deep/ .leaflet-control-attribution {
    background: transparent;

    a {
      color: nb-theme(color-fg);
    }
  }

  /deep/ .leaflet-popup-close-button {
      color: black;
      display: none;
  }

  /deep/ .leaflet-popup-content {
      margin: 5px 10px 5px 10px;
  }
  /deep/ .leaflet-popup-content-wrapper {
      background-color: rgb(5, 252, 252);
      color: #000000;
      border-radius: 4px;
  }

  /deep/ .leaflet-popup-tip {
      background-color: rgb(5, 252, 252);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 50%;
  }
}
