<div class="row">
  
  <!-- Principal Search -->
  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="success" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4 offset-md-4"  *ngIf="!email && !gathered['tasklist']">
    <nb-card size="medium" class="border-default" id="centralInfo">
      <nb-card-body>
        <div>
            <img style="position:absolute; width: 50%; top: 0; left:0; right: 0; bottom:0; margin:auto;" src="assets/images/iKy-Logo.png"> 
        </div>

      </nb-card-body>
      <nb-card-footer>
        <div class="details">
          <div class="title">
            Gathering information
          </div>
          <div class="description">
              To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above, below or from the magnifying glass located in the upper right corner.
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="success" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12" *ngIf="timeline && gathered['email']">
      <nb-card size="large" class="border-default" id="timelineResult">
        <nb-card-header>
          TIMELINE
        </nb-card-header>
        <nb-card-body>

          <div class="col-md-12">
            <div class="row example-centered">
                <div class="col-md-12">
                    <ul class="timeline timeline-centered">
                        <li class="timeline-item" *ngFor="let time of timeline">
                            <div class="timeline-info">
                                <span>{{time.date}}</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">{{time.action}}</h3>
                                <p *ngIf="time.desc && time.desc != ''">{{time.desc}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
          </div>

        </nb-card-body>
      </nb-card>
  </div>

</div>
